extends ../../components/master
block estilo
    - estilos="cursos-detalles"
    - js="cursos-detalles"
    - direccion=".."
block content
    section
        include ../../components/cursos/docker
        - let curso=docker
        include ../../components/cursos/detalles