extends ../../components/master
block estilo
    - estilos="cursos-detalles"
    - js="cursos-detalles"
    - direccion=".."
block content
    section
        include ../../components/cursos/golang
        - let curso=golang
        include ../../components/cursos/detalles