extends ../../components/master
block estilo
    - estilos="cursos-detalles"
    - js="cursos-detalles"
    - direccion=".."
block content
    section
        include ../../components/lista-de-cursos
        - let curso=golang
        include ../../components/cursos/detalles