extends ../../components/master
block estilo
    - estilos="cursos-detalles"
    - js="cursos-detalles"
    - direccion=".."
block content
    section
        include ../../components/cursos/html
        - let curso=html
        include ../../components/cursos/detalles
        