extends ../../components/master
block estilo
    - estilos="cursos-detalles"
    - js="cursos-detalles"
    - direccion=".."
block content
    section
        include ../../components/cursos/java
        - let curso=java
        include ../../components/cursos/detalles