extends ../../components/master
block estilo
    - estilos="cursos-detalles"
    - js="cursos-detalles"
    - direccion=".."
block content
    section
        include ../../components/cursos/javascript
        - let curso=javascript
        include ../../components/cursos/detalles