include ../cursos/html
include ../cursos/docker
include ../cursos/java

- const cursos=[docker, java, html];

.tituloSeccion
    h1 Cursos Destacados
.cards
    each curso in cursos
        div
            .imagen
                img(src=`./img/cursos/${curso.titulo.toLowerCase()}.png`)
            .titulo
                h1 #{curso.titulo}
            .horas
                h4 #{curso.horas}hs
            .detalles
                input(type="button" value="Inscribirse" class="inscribirse")
                a(href=`./cursos/${curso.titulo}.html`)