- const formas=["mastercard","american-express","paypal","visa","hsbc"];

.tituloSeccion
    h1 Formas de Pago
.formas-de-pago
    each forma in formas
        .img-forma
            img(src=`./img/${forma}.png`)