.pasos
    .paso1
        p PASO 1
        p Ejija alguno de nuestros variados cursos.
    .paso2
        p PASO 2
        p Inscríbase completando el formulario y elija su forma de pago.
    .paso3
        p PASO 3
        p Ya puede hacer el curso que ha elegido