$letras: white;

footer {
  background-color: black;
  .footer {
    justify-content: space-between;
    align-items: center;
    color: $letras;
    a {
      color: $letras;
    }

    .navfooter .menu-items .cursos div {
      display: none;
    }
  }

  .copyright i {
    color: $letras;
  }
}
