$letras: white;

footer {
  background-color: black;
  .footer {
    padding: 30px;
    align-items: center;

    color: $letras;
    a {
      color: $letras;
    }
  }
}

.copyright i {
  color: $letras;
}
