$fondo-header: #0c46e8;

header {
  background-color: $fondo-header;
  padding: 30px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header {
  align-items: center;

  .responsive {
    display: none;
  }
  .logo img {
    min-width: 50px;
    max-width: 200px;
  }

  .carrito {
    span {
      position: absolute;
      left: -15;
      width: 20px;
      height: 20px;
      text-align: center;
      background-color: black;
      color: white;
      z-index: 10;
      padding: 5px;
      border-radius: 50%;
    }
    img {
      width: 50px;
    }
  }
}
