@import "./mixins";

nav {
  background-color: $color-nav;
  .menu {
    justify-content: initial;

    &-items {
      padding: 20px;
      display: block;

      &:hover:not(:last-child) {
        background-color: $fondo-botones;
      }

      .cursos-seccion {
        .cursos-items {
          display: none;
          position: absolute;
          left: -20;
          margin: 20px 0px;
          z-index: 10;
          padding: 20px;
          background-color: $color-nav;

          div {
            margin: 5px 0px;
          }
        }
      }

      &.cursos:hover {
        cursor: pointer;
        .cursos-items {
          display: block;
        }
      }
    }
  }
}

.buscador-responsive {
  display: none;
}
