$fondo1: #d3d3d3;
$fondo2: #808080;
$fondo-botones: white;
$color-nav: skyblue;
$color-a: black;
$responsive1: 768px;
@mixin formatoElementosHome {
  display: flex;
  justify-content: space-around;
  padding: 30px 0px;

  & > div {
    background-color: black;
    color: white;
    text-align: center;
  }
}

a {
  color: $color-a;
}
