@media (max-device-width: $responsive1) {
  header {
    padding: 10px;
  }

  .header {
    min-width: 100%;

    .logo img {
      max-width: 150px;
    }

    .buscador {
      display: none;
    }

    .responsive {
      display: block;
    }

    .carrito img {
      max-width: 30px;
    }
  }

  .menu {
    flex-direction: column;
    min-width: 100%;

    .menu-items {
      padding: 20px 0px;

      .cursos .cursos-items {
        visibility: hidden;
      }
    }
  }

  nav {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: -100%;
    z-index: 200;
    text-align: center;
  }

  .menu-responsive {
    left: 0;
  }

  .buscador-responsive {
    display: block;
  }

  .footer {
    text-align: center;
    flex-direction: column;
    & div {
      margin: 10px 0px;
    }
  }
}
