- const nombre_gonzalez="Ricardo Gonzalez Gomez";
- const descripcion_gonzalez="Encuentro en Linux mi pasatiempo y diversión. Soy amante de las tecnologías open source y esto me ha llevado a integrar distintas herramientas proporcionando soluciones ágiles con Docker, Jenkins, Ansible, Git, etc.";
- const estrellas_gonzalez=5;

- const ricardoGonzalezGomez={nombre: nombre_gonzalez,descripcion: descripcion_gonzalez,estrellas:estrellas_gonzalez};