- const nombre_heras="Adrian Heras";
- const descripcion_heras="Seis años de experiencia en desarrollo web. Apasionado de las nuevas tecnologías y en especial del ecosistema de javascript. Creador de contenido audiovisual formativo relacionado con el desarrollo web full-stack.";
- const estrellas_heras=4;

- const adrianHeras={nombre:nombre_heras,descripcion:descripcion_heras,estrellas: estrellas_heras};