- const nombre_sierra="Antonio Martin Sierra";
- const descripcion_sierra="Soy programador Java Certificado y tengo más de 20 años de experiencia como formador en tecnologías Java, Java EE y Android. He impartido numerosos cursos para Empresas y Centros de formación, tanto en modalidad presencial como on-line. Entre mis principales clientes están IBM, Telefónica, Accenture y Core Networks.";
- const estrellas_sierra=5;

- const antonioMartinSierra={nombre: nombre_sierra,descripcion: descripcion_sierra,estrellas: estrellas_sierra};