- const nombre_arevalo="Andres Sosa Arevalo";
- const descripcion_arevalo="Hola a todos, soy estudiante de derecho de la universidad Sergio Arboleda de Colombia, tambien soy desarrollador Web, hice trabajos remotos en la plataforma de Workana, tambien he ayudado en linea a muchos estudiantes de la plataforma de Next U para alcanzar sus certificaciones en tecnologia digital en campos de desarrollo web y marketing digital.";
- const estrellas_arevalo=4;

- const andresSosaArevalo={nombre: nombre_arevalo,descripcion: descripcion_arevalo,estrellas: estrellas_arevalo};