- const nombre_tilotta="Pablo Tilotta";
- const descripcion_tilotta="Desde la experiencia en el Análisis de Sistemas, me he destacado en brindar soluciones a sectores complejos como Administración, Marketing, Tesorería, Logística y Distribución, Recursos Humanos con mas de 2000 soluciones y sistemas (no siempre la solución es un sistema o programa) a lo largo de 30 años ininterrumpidos.";
- const estrellas_tilotta=4;

- const pabloTilotta={nombre: nombre_tilotta,descripcion: descripcion_tilotta,estrellas: estrellas_tilotta};