footer
    .copyright
        i(class="far fa-copyright") 2020. Academy. Todos los derechos reservados.
    .navfooter    
        include nav
    .redes
        div
            <i class="fab fa-facebook-square"></i>
            a(href="#") Seguinos en Facebook
        div
            <i class="fab fa-twitter-square"></i>
            a(href="#") Seguinos en Twitter
        div
            <i class="fab fa-instagram"></i>
            a(href="#") Seguinos en Instagram