header
    .header
        .responsive
            <i class="fas fa-bars"></i>
        .logo
            img(src=`${direccion}/img/logo.png`)
        .buscador
            input(type="text" id="datoabuscar")
            button(type="submit") Buscar
        .carrito
            span 0
            img(src=`${direccion}/img/shopping-blanco.png`)