header
    .header
        .responsive#boton-responsive
            <i class="fas fa-bars"></i>
        .logo
            a(href=`${direccion}/index.html`)
                img(src=`${direccion}/img/logo.png`)
        .buscador
            input(type="text" id="datoabuscar")
            button(type="submit") Buscar
        .carrito
            span#inscripciones 
            img(src=`${direccion}/img/shopping-blanco.png`)