html
    head
        title Aperture Academy
        meta(name="viewport" content="width=device-width, user-scalable=no")
        link(rel="stylesheet" src=`./css/${estilos}.css`)
        script(src=`./js/${js}.js`)
    body
        block content