- const alexisSanchez={nombre:"Alexis Sanchez",descripcion:"Gran profesor", estrellas: 5}

- const docker= {titulo: "Docker", horas: 25, contenidos: [["Introducción",["Tema 1","Tema 2"]],["Previa",["Tema 3", "Tema 4"]]], profesor: alexisSanchez};

- const java= {titulo: "Java", horas: 52};

- const python= {titulo: "Python", horas: 25};

