- let estilos;
- let js;

html
    head
        title Aperture Academy
        meta(name="viewport" content="width=device-width, user-scalable=no")
        block estilo
        link(rel="stylesheet" src=`./css/${estilos}.css`)
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous")
        script(src=`./js/${js}.js`)
    body
        include header
        nav
            .menu
                include nav
        block content
        include footer