.menu-items 
    a(href="./index.html") Home
.menu-items
    a(href="./cursos.html") Cursos
.menu-items
    a(href="./calendario.html") Calendario
.menu-items
    a(href="./giftcard.html") Gift Card
.menu-items
    a(href="./inscripcion.html") Inscripción
.menu-items
    a(href="./contacto.html") Contacto