extends ../components/master
block estilo
    - estilos="calendario"
    - js="calendario"
    - direccion="."
    <link href='./css/main.css' rel='stylesheet' />
    
block content
    section
        #calendar
block prepend script
    <script src='./js/main.js'></script>
    <script src='./js/locale-all.js'></script>