extends ../components/master
block estilo
    - estilos="giftcard"
    - js="giftcard"
    - direccion="."
block content
    section
        .panel
            .vista-previa
                div
                    div
                        h4.texto Gift Card
                    #nombre 
                        p.texto Nombre: 
                    #saldo 
                        p.texto Valor de Gift Card: 
                    #numero
                        p.texto Número de Gift Card: 
                h4 Vista previa
            .opciones
                div
                    h1 Personalización de Gift Card
                    form(action="" id="giftcard")
                        .destinatario
                            label(for="destinatario")
                            input(type="text" placeholder="Nombre de destinatario" name="nombre" id="destinatario")
                            div
                        label(for="color")
                        h4 Color:
                        .colores
                            div
                                .rojo.circulo
                                input(type="radio" value="red" name="texto")
                            div
                                .azul.circulo
                                input(type="radio" value="blue" name="texto")
                            div
                                .verde.circulo
                                input(type="radio" value="green" name="texto")
                            div
                                .negro.circulo
                                input(type="radio" value="black" name="texto")
                            div
                        h4 Tamaño de fuente:
                        .fuente
                            div
                                h4 10px
                                input(type="radio" value="10px" name="tamanio")
                            div
                                h4 12px
                                input(type="radio" value="12px" name="tamanio")
                            div
                                h4 14px
                                input(type="radio" value="14px" name="tamanio")
                            div
                                h4 16px
                                input(type="radio" value="16px" name="tamanio")
                            div
                                h4 18px
                                input(type="radio" value="18px" name="tamanio")
                        .monto
                            h4 Monto $
                            input(type="number" id="monto" name="monto")
                            div
                        h4 Alineacion:
                        .colores
                            div
                                .rojo
                                    span Izq
                                input(type="radio" value="left" name="alineacion")
                            div
                                .azul
                                    span Ctr
                                input(type="radio" value="center" name="alineacion")
                            div
                                .verde
                                    span Der
                                input(type="radio" value="right" name="alineacion")
                            div
                        h4 Fondo:
                        .colores
                            div
                                .rojo
                                input(type="radio" value="red" name="fondo")
                            div
                                .azul
                                input(type="radio" value="blue" name="fondo")
                            div
                                .verde
                                input(type="radio" value="green" name="fondo")
                            div
                                .negro
                                input(type="radio" value="black" name="fondo")
                            div
                        input(type="button", value="Confirmar" id="confirmar")