extends ../components/master
block estilo
    - estilos="index"
    - js="home"
block content
    section
        include ../components/home/pasos
    section
        include ../components/home/cards
    section
        include ../components/home/formasdepago