extends ../components/master
block estilo
    - estilos="index"
    - js="index"
    - direccion="."
block content
    main
        include ../components/home/slide
    section
        include ../components/home/pasos
    section
        include ../components/home/cards
    section
        include ../components/home/formasdepago