include ./profesores/tilottaPablo

- const titulo_golang="Go";
- const detalles_golang="Toda la Sintaxis, estructuras y secretos del lenguaje GOLANG";
- const precio_golang=2500;
- const horas_golang=6;
- const requisitos_golang="Tener nociones básicas de desarrollo web";
- 
    const contenidos_golang=[
            {
                titulo:"Introducción",
                tematicas:["Introducción a GO y sus características","Instalando GO"]
            },
            {
                titulo:"Convenciones y sintáxis en GO",
                tematicas:["Variables en GO","Condiciones","Ciclos","Funciones","Arreglos","Mapas","Estructuras","Interfaces","Manejo de archivos","Recursión","DEFER - PANIC & RECOVER","GORoutines (ejecución Asíncrona - Promesas en GO)"]
            }
        ];
- const profesor_golang= pabloTilotta;

- 
    const golang={
        titulo: titulo_golang,
        detalles: detalles_golang,
        precio: precio_golang,
        horas: horas_golang,
        requisitos: requisitos_golang,
        contenidos: contenidos_golang,
        profesor: profesor_golang
        };