include ./profesores/sosaArevaloAndres

- const titulo_html="HTML";
- const detalles_html="Aprende a desarrollar tus propias plantillas Web desde cero, usando los últimos estándares de Html 5";
- const precio_html=2500;
- const horas_html=4;
- const requisitos_html="El curso empieza desde 0, no necesitas ningún conocimiento previo.";
- 
    const contenidos_html=[
            {
            titulo: "Comenzando en HTML",
            tematicas: ["Definición de Html", "¿Qué editor usar?","¿Qué es un atributo?","La etiqueta DOCTYPE","El atributo CHARSET"]
            },
            {
            titulo: "Textos, anclas e imágenes",
            tematicas: ["Encabezados y párrafos","Negrita,énfasis,cursiva,span y salto de línea","Anclas","Imagenes"]
            },
            {
            titulo: "Listas, tablas y contenidos",
            tematicas: ["Listas","Tablas","Comentarios"]
            },
            {
            titulo: "Formularios",
            tematicas: ["Introducción a formularios e inputs","La etiqueta select","El atributo placeholder y required","El checkbox","El textarea","El input datepicker y el colorpicker","El input password","El input email y el input file","El input radio","El input number y el input range"]
            },
            {
            titulo: "HTML5",
            tematicas: ["Etiqueta Header y Nav","Etiqueta Main, Section y Div","Etiqueta Article y Aside","Etiqueta Footer"]
            }
        ];
- const profesor_html= andresSosaArevalo;

- 
    const html={
        titulo:titulo_html,
        detalles: detalles_html,
        precio: precio_html,
        horas: horas_html,
        requisitos: requisitos_html,
        contenidos: contenidos_html,
        profesor: profesor_html
    };