include ./profesores/herasAdrian

- const titulo_js="Javascript";
- const detalles_js="Desde ES6 hasta ES10, async await, API's HTML y mucho más!";
- const precio_js=3000;
- const horas_js=18;
- const requisitos_js="Conocimientos de HTML y CSS";
- 
    const contenidos_js=[
            {
                titulo: "Basicos de Javascript",
                tematicas:["Tipos de operadores","Strings","Math","Condicionales","Arrays","Iteración"]
            },
            {
                titulo:"Objetos, funciones y métodos",
                tematicas:["Introducción a objetos","Funciones","Programación orientada a objetos","Clases y objetos","Spread y Rest"]
            },
            {
                titulo:"DOM Document Object Model",
                tematicas:["DOM - Introducción","Selección de elementos","Atributos y clases","Eventos de ratón y teclado","Objeto evento","Crear e insertar elementos","DOM traversing","Insertar, clonar y borrar elementos","Objetos nativos y timers"]
            },
            {
                titulo:"Peticiones HTTP",
                tematicas:["Objeto XMLHTTPRequest","Callbacks","Promesas","Fetch","async / await","Axios"]
            },
            {
                titulo:"Formularios y expresiones regulares",
                tematicas:["Formularios","Introducción a las expresiones regulares","Expresiones regulares","Librería de validaciones"]
            },
            {
                titulo:"API HTML",
                tematicas:["Web Storage","Drag and drop","API File","API IndexedDB","API Visibility Change","API Online / Offline","API Intersetion Observer","API Geolocation","API Match Media"]
            },
            {
                titulo:"Destructuring, debugging y transpilación",
                tematicas:["Destructuring","Debugging","Transpilación de código con babel"]
            }
        ];
- const profesor_js= adrianHeras;

- 
    const javascript={
        titulo: titulo_js,
        detalles: detalles_js,
        precio: precio_js,
        horas: horas_js,
        requisitos: requisitos_js,
        contenidos: contenidos_js,
        profesor: profesor_js
        };