include ./profesores/sierraAntonioMartin

- const titulo_java="Java";
- const detalles_java="Aprende a programar en Java desde cero";
- const precio_java=3000;
- const horas_java=4;
- const requisitos_java="Debes tener nociones básicas de programación";
- 
    const contenidos_java=[
            {
                titulo: "Primeros pasos en Java",
                tematicas:["Introducción a Java", "Primer programa en Java","Reglas sintácticas y estructura de un programa Java"]
            },
            {
                titulo:"Sintaxis básica de Java",
                tematicas:["Tipos de datos y variables","Operadores"]
            },
            {
                titulo:"Estructuras de control",
                tematicas:["Condicionales","Iteración","Break"]
            },
            {
                titulo: "Arrays",
                tematicas: ["Concepto de array, declaración y creación","Recorrido de un array"]
            },
            {
                titulo: "Clases",
                tematicas:["Clases, objetos y métodos","Creación de objetos"]
            },
            {
                titulo:"Cadenas de caracteres",
                tematicas:["La clase String","Principales métodos de la clase String"]
            }
        ];
- const profesor_java= antonioMartinSierra;

- 
    const java={
        titulo: titulo_java,
        detalles: detalles_java,
        precio: precio_java,
        horas: horas_java,
        requisitos: requisitos_java,
        contenidos: contenidos_java,
        profesor: profesor_java
        };