@import "./components/master";

.contacto {
  display: flex;
  justify-content: space-around;

  .formulario-contacto {
    width: 50%;
    form {
      input {
        margin: 10px 0px;
        height: 30px;
      }

      textarea {
        resize: none;
      }

      input,
      textarea {
        width: 95%;
        & + div {
          color: red;
        }
      }

      p,
      span {
        font-size: 16px;
      }
    }
  }

  .datos-empresa {
    p {
      font-weight: bold;

      span {
        font-weight: normal;
      }
    }
  }
}

@media (max-device-width: $responsive1) {
  .contacto {
    flex-direction: column;

    .formulario-contacto {
      margin-bottom: 30px;
    }
  }
}
