@import "./components/master";
@import "./components/mixins";

.detalles {
  width: 40%;
  display: flex;
  justify-content: center;

  .img {
    img {
      max-width: 200px;
      margin-right: 30px;
    }
  }

  .principal {
    margin-bottom: 30px;
  }

  .contenidos {
    h1 {
      margin-bottom: 10px;
    }

    div {
      border: 3px solid $fondo2;
      padding: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      i {
        cursor: pointer;
        font-size: 24px;
      }
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 10px 0;
      display: none;
    }

    .mostrar {
      display: block;
    }
  }

  input {
    display: block;
    width: 100%;
    margin-top: 10px;
  }
}

.profesor {
  width: 80%;
  margin: 30px auto;
  border: 5px solid black;
  padding: 5px 20px;

  div h2 {
    margin-bottom: 10px;
  }

  div img {
    width: 150px;
    margin-right: 10px;
  }

  .descripcion {
    display: flex;

    div p i {
      color: goldenrod;
      margin-bottom: 10px;
    }
  }
}

@media (max-device-width: $responsive1) {
  .descripcion,
  .detalles {
    flex-direction: column;
  }

  .detalles {
    width: 90vw;
  }
}
