@import "components/master";
@import "components/home/pasos";
@import "components/home/cards";
@import "components/home/formasdepago";

.tituloSeccion {
  background-color: $fondo2;
  color: black;
  text-align: center;
  padding: 30px 0px;
}

@media (max-device-width: $responsive1) {
  .pasos,
  .cards,
  .footer {
    flex-direction: column;
  }

  .formas-de-pago {
    display: flex;
    flex-wrap: wrap;
  }

  .img-forma img {
    max-width: 75px;
  }
}
